<div class="card" id="serviceCard">
  <a href="services/{{id}}"> 
    <header id="service-name" class="text-danger">{{name}}</header>
	 	 <h2 id="service-price" class="text-white"><strong>{{price}}</strong></h2>
		 <p id="service-description" class="text-warning">{{description}}</p>
  </a>
</div>
<script src="/public/js/services.js"></script>
<!--Wherever we hold the services data will be the path... I'm assuming there is a database for services because services are dependent on user-->

{{!-- may change color of text in future --}}

