<div class="card" id="add-service">
  <a href="services/user/{{id}}"> 
    <header>{{name}}</header>
	 	 <h2>{{price}}</h2>
		 <p>{{description}}</p>
  </a>
</div>
<!--Wherever we hold the services data will be the path... I'm assuming there is a database for services because services are dependent on user-->