<article>
    <a href="/edit-service-item/{{id}}">
    <header>
        <h2>{{service_name}}</h2>
        <p>${{service_price}}.00</p>
    </header>
    <div>{{service_description}}</div>
    </a>
</article>