<article>
    <a href="/edit-service-item/{{id}}"></a>
    <header>
        <h2>{{service_name}}</h2>
        <p>{{service_price}}</p>
    </header>
    <div>{{service_description}}</div>
    </a>
</article>