<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/view-services.css">
<main>
     <!-- Nav Bar -->
     <nav class="main-nav">
          <ul>
               <li>enDEVors</li>
               <li><a href="/homepage">home</a></li>
               <li><a href="/profile">profile</a></li>
               <li><a href="/services">services</a></li>
               <li><a href="/quote_form">quotes</a></li>
          </ul>
     </nav>
     <!-- Service Item Form -->
     <h1>Add Service</h1>
     <div class="glass-bg">
          <form id="add-service-form">
               <!-- Service Name -->
               <div class="name">
                    <label for="name-input" class="form-label">Service Name:</label>
                    <input type="text" class="form-control" id="name-input">
               </div>
               <!-- Description -->
               <h2>Description:</h2>
               <div class="form-floating">
                    <textarea class="form-control" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Service Includes:</label>
               </div>
               <!-- Price -->
               <div class="price">
                    <label for="price-input" class="form-label">Price:</label>
                    <input type="text" class="form-control" id="price-input">
               </div>
               <div class="btn-container">
                    <button id="add-item" type="submit">Add</button>
               </div>
          </form>
     </div>
</main>

<!-- JS Link -->
<script src="/js/add-service-item.js"></script>