<!--iterate through all services and create, trying out partials -Aaron-->
<div class="container">
	<section id="services-list" class="row col-6 align-self-start">
		<form>
			<header class="text-center">Services</header>
			<!--Consider turning div into clickable button to add service as a quote-item-->
			{{#each services as |service|}}alignment
			<div class="service-card">
				<a href="services/{{id}}"> 
					<header id="service-name" class="text-danger">{{service_name}}</header>
					<h2 id="service-price" class="text-white"><strong>{{price}}</strong></h2>
					<p id="service-description" class="text-warning">{{description}}</p>
  				</a>
			</div>
			{{/each}}
			<button id="serviceAddBtn">Add</button>
		</form>
	</section>

</div>
<script src="/js/services.js"></script>