<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/homepage.css">
<!-- Main Body -->
<main>
     <header>
        <!--- Nav Bar --->
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <!--- enDEVors --->
                <a class="navbar-brand" href="#">enDEVors</a>
                <!--- Nav Toggle Button --->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--- Nav Menu Display --->
                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <!--- enDEVors --->
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">enDEVors</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <!--- Home Link --->
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <!--- Profile Link --->
                                <a class="nav-link" href="#">Profile</a>
                            </li>
                            <li class="nav-item dropdown">
                                <!--- Services Dropdown --->
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    My Services
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <!--- Create Quote Link --->
                                    <li><a class="dropdown-item" href="#">View</a></li>
                                    <!--- Manager Quotes Link --->
                                    <li><a class="dropdown-item" href="#">Manage</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <!--- Quotes Dropdown --->
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    My Quotes
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <!--- Create Quote Link --->
                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                    <!--- Manager Quotes Link --->
                                    <li><a class="dropdown-item" href="#">Manage</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- "Glass" Background -->
    <div class="glass-bg">
        <div class="logo">
            <h1>enDEVors</h1>
        </div>
        <!-- Headers -->
        <header>
            <h2>Welcome!</h2>
            <h3>What can we help you with today?</h3>
        </header>
        <!-- Site Links -->
        <section class="all-links">
            <div class="top-links">
                <!-- Create Quote Link -->
                <button><a class="create-quote" href="/quote_form">Create Quote</a></button>
                <!-- Manage Services Link -->
                <button><a class="manage-services" href="/services">Manage Services</a></button>
            </div>
            <div class="bottom-links">
                <!-- Edit Profile Link -->
                <button><a class="edit-profile" href="/profile">Profile</a></button>
                <!-- Logout -->
                <div class="login">
                    {{#if logged_in}}
                    <button class="log-out" id="logout">Log Out</button>
                    {{else}}
                    <a class="login" href="/login">Log In</a>
                    {{/if}}
                </div>
            </div>
        </section>
    </div>
</main>
<!-- JS Link -->
<script src="/js/homepage.js"></script>
