<main>
    <div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quote-form">create Quote</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/service">manage Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view-quote">view Quote</a>
            </li>
            <li class="nav-item">
                {{#if logged_in}}
                <button class="nav-link" id="logout">logout</button>
                {{else}}
                <a class="nav-link" href="/login">login</a>
                {{/if}}
            </li>
        </ul>
    </div>




</main>