<main>
    <div>
        <header>
            <h1>Welcome to enDEVors!</h1>
            <h2>What can we help you with today?</h2>
        </header>
        <div>
            <button><a class="create-quote" href="/quote-form">Create Quote</a></button>
            <button><a class="manage-services" href="/service">Manage Services</a></button>
        </div>
        <div>
            <button><a class="edit-profile" href="/profile">Profile</a></button>
            <div class="login">
                {{#if logged_in}}
                <button class="log-out" id="logout">Log Out</button>
                {{else}}
                <a class="login" href="/login">Log In</a>
                {{/if}}
            </div>
        </div>
    </div>
</main>
<script src="/js/homepage.js"></script>