<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/login.css">

<!-- Main Body -->
<main>

  <div>
    <h1>enDEVors</h1>
  </div>

  <section class="home-forms">

    <!-- Login Card -->
    <section class="login-card">
      <div>
        <h2>Log In</h2>
      </div>
      <!-- Login Form -->
      <form id="login-form" class="text-center">

        <!-- Email -->
        <div>
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
        </div>

        <!-- Password -->
        <div>
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>

        <!-- Log In Button -->
        <div>
          <button type="submit" class="login-btn" type="button">Log In</button>
        </div>
      </form>
    </section>

    <!-- Sign Up Card -->
    <section class="signup-card">
      <div>
        <h2>Sign Up</h2>
      </div>
      <!-- Sign Up Form -->
      <form id="signup-form" class="text-center">

        <section class="signup-name">
          <!-- First Name -->
          <div>
            <label for="first-name" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="new-firstName" />
          </div>

          <!-- Last Name -->
          <div>
            <label for="last-name" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="new-lastName" />
          </div>
        </section>

        <section class="signup-contact">
          <!-- Email -->
          <div>
            <label for="email-signup" class="form-label">Email:</label>
            <input type="text" class="form-control" id="new-email" />
          </div>

          <!-- Password -->
          <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="new-password">
            <div class="form-text">It should be more than 8 characters</div>
          </div>
        </section>

        <!-- Sign Up Button -->
        <div>
          <button id="submit-btn" type="submit">Sign Up</button>
        </div>
      </form>
    </section>

  </section>
</main>
<script src="/js/login.js"></script>