<!--iterate through all services and create, trying out partials -Aaron-->
<div class="container">
	<section id="services-list" class="row col-5 align-self-start">
		<form>
			<header class="">Services</header>
			<!--Consider turning div into clickable button to add service as a quote-item-->
			<div class="service-card">
				<p>
					{{#each services as |service|}}alignment
					{{> services-details}} <!--check partials-->
					{{/each}}
				</p>
			</div>
			<button id="serviceAddBtn">Add</button>
		</form>
	</section>
	<!--Edit Section-->
	<section id="edit-service" class="row col-5 align-items-end">
		<!--Edit -->
		<header>Edit</header>
		<!--Edit Form-->
		<div class="edit-container">
			<form id="edit-form">
				<!--Service Name Input-->
				<label for="edit-name">Name: </label>
				<textarea type="text" id="edit-name" name="edit-name"></textarea>
				<!--Service Description Input-->
				<label for="edit-description">Includes: </label>
				<textarea type="text" id="edit-description" name="edit-name"><br><br></textarea>
				<!--Service Price Input-->
				<label for="edit-price">Price: </label>
				<textarea type="text" id="edit-price" name="edit-price"></textarea>
				<!--Buttons below, will need to get value of input for name, description, price-->
				<button id="save-button" class="text-danger">Save</button>
				<button id="delete-button" class="text-danger">Delete</button>
			</form>
		</div>
	</section>
</div>