<!--iterate through all services and create, trying out partials -Aaron-->
<div class="container">
	<section id="services-list" class="row col-5 align-self-start">
		<header>Services</header>
		<div class="service-card">
			<p>
				{{#each services as |service|}}alignment
				{{> services-details}} <!--check partials-->
				{{/each}}
			</p>
		</div>
	</section>
	<!--Edit Section-->
	<section id="edit" class="row col-5 align-items-end">
		<!--Edit -->
		<header>Edit</header>
		<!--Edit Form-->
		<div class="edit-container">
			<form id="edit-form">
				<!--Service Name Input-->
				<label for="edit-name">Name: </label>
				<input type="text" id="edit-name" name="edit-name">
				<!--Service Description Input-->
				<label for="edit-description">Includes: </label>
				<input type="text" id="edit-description" name="edit-name"><br><br>
				<!--Service Price Input-->
				<label for="edit-price">Price: </label>
				<input type="text" id="edit-price" name="edit-price">
				<!--Buttons below, will need to get value of input for name, description, price-->
				<button></button>
				<button></button>
			</form>
		</div>
	</section>
</div>