<main>
    <!-- Order Info -->
    <h1>Services</h1>

    <div id="glass-bg">
        <article>
            <header>
            <h2>Update Webpage</h2>
            <p>$200.00</p>
            </header>
            <div>This service covers updating one section or the styling of a webpage.</div>
        </article>
        <article>
            <header>
            <h2>Front End Webpage</h2>
            <p>$300.00</p>
            </header>
            <div>This service covers one for a front end application.</div>
        </article>
        <article>
            <header>
            <h2>Back End Webpage</h2>
            <p>$400.00</p>
            </header>
            <div>This service covers one for a back end application.</div>
        </article>
        <div class="order">
            <button id="add-item" type="submit">Add Item</button>
        </div>
    </div>
</main>