<!-- Google Fonts Link -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<!-- CSS Link -->
<link rel="stylesheet" href="/css/test-service.css">
<main>
    <!-- Nav Bar -->
    <nav class="main-nav">
        <ul>
            <li>enDEVors</li>
            <li><a href="/homepage">home</a></li>
            <li><a href="/profile">profile</a></li>
            <li><a href="/services">services</a></li>
            <li><a href="/quote_form">quotes</a></li>
        </ul>
    </nav>
    <!-- Order Info -->
    <h1>Services</h1>
    <div class="glass-bg">
        <div class="card-layout">
            <article>
                <header>
                    <h2>Update Webpage</h2>
                    <p>$200.00</p>
                </header>
                <div>This service covers updating one section or the styling of a webpage.</div>
            </article>
            <article>
                <header>
                    <h2>Front End Webpage</h2>
                    <p>$300.00</p>
                </header>
                <div>This service covers one for a front end application.</div>
            </article>
            <article>
                <header>
                    <h2>{{services.name}}</h2>
                    <p>{{services.price}}</p>
                </header>
                <div>{{services.description}}</div>
            </article>
        </div>
        <div class="order">
            <button id="add-item" type="submit">Add Item</button>
        </div>
    </div>
</main>

<!--add script for view-service.js