/*----- COLOR & FONTS -----*/
:root {
    --dark: #272822;
    --light: #F8F8F3;
    --blue: #0D859A;
    --lightOrange: #F08C01;
    --orange: #E8580C;
    --red: #E23230;
    --main: 'Press Start 2P', cursive;
    --other: 'Source Code Pro', monospace;
}

/*-------------------- DEFAULT CSS --------------------*/


/*----- MAIN -----*/
main {
    margin: 0;
    padding: 0;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*----- GLASS BACKGROUND -----*/
.glass-bg {
    background: rgba(255, 255, 255, 0.171);
    backdrop-filter: saturate(180%) blur(10px);
    width: 90%;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--blue) solid 3px;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .glass-bg {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

/*----- WELCOME HEADER -----*/
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    color: var(--light);
    font-size: 80px;
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-family: var(--main);
}

/*----- GUIDE HEADER -----*/
h2 {
    color: var(--lightOrange);
    font-size: 45px;
    text-align: center;
    margin: 20px;
    font-family: var(--main);
}

h3 {
    color: var(--orange);
    font-size: 25px;
    text-align: center;
    margin: 20px;
    font-family: var(--main);
}

/*----- LINKS -----*/
.all-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.all-links button {
    background-color: var(--dark);
    color: var(--red);
    border: var(--red) solid 3px;
    padding: 10px;
    font-family: var(--main);
}

.all-links a {
    color: var(--red);
    font-size: 15px;
    text-decoration: none;
    font-family: var(--main);
}

.top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}

.bottom-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}