/*------------- NAV -------------*/
main {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------- HEADER -------------*/
header {
    outline: red dashed 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-weight: bolder;
}

/*------------- CONTACT SECTION -------------*/

h2 {
    font-size: 16px;
    font-weight: bolder;
}

.contact {
    display: flex;
    flex-direction: row;
}

.client {
    display: flex;
    flex-direction: column;
}

.job {
    display: flex;
    flex-direction: column;
}

/*------------- ORDER SECTION -------------*/
.service-box {
    border: black solid 3px;
}

.service-sections {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

/*------------- DOWNLOAD BUTTON -------------*/
@media print {
    #download {
        display: none;
    }
}